#filter_input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#fillter_table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#fillter_table th, #fillter_table td {
    text-align: left;
    padding: 12px;
}

#fillter_table tr {
    border-bottom: 1px solid #ddd; 
}

#fillter_table tr.header, #fillter_table tr:hover {
    background-color: #f1f1f1;
}

p.error {
    color: red;
    font-weight: 500;
    border: 1px solid;
    padding: 10px;
}